/* Breadcrumbs style ------------------------------------- */

.SiteMap
{
  font-family: tahoma;
  font-size: 11px;

}

.BreadcrumbsNode
{
  font-family: tahoma;
  font-size: 11px;
  text-decoration: none;
}

.BreadcrumbsNode:hover
{
  font-family: tahoma;
  font-size: 11px;
  text-decoration: underline;
}

/* Menu groups -------------------------------------------- */
.TopGroup
{
  font-family:tahoma; 
  font-size: 11px;
  background-color:white;
  background-image:url(../images/item_bg.gif); 
  border:solid 1px #737373;
  cursor:default; 
  font-weight:bold;
  
}
/*
.TopGroup
{
  background-color:#757495; 
  background-image: url(images/top_groupBg.gif); 
  border:1px solid #696885; 
  border-bottom-color: #57566F; 
  border-right-color: #57566F; 
  cursor:default; 
}*/
.Group
{
  background-color:white;
  background-image:url(../images/group_bg.gif); 
  border:solid 1px #737373; 
}

/* Default item styles ------------------------------------ */ 

.Item
{
  font-family:tahoma; 
  font-size:10px; 
  margin:1px;
  cursor:default;
}

.ItemHover
{
  background-color:white; 
  background-image:url(../images/item_bg.gif); 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #ABABAB; 
  border-right-color:#737373;
  border-bottom-color:#737373;
  cursor:default;
}

.ItemExpanded
{
  background-color:white; 
  background-image:url(../images/item_bg.gif); 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #737373; 
  border-right-color:#ABABAB;
  border-bottom-color:#ABABAB;
  cursor:default;
}

/* Selected item styles ------------------------------------ */ 
.SelectedItem
{
  background-color:bisque; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #B30000; 
  border-left-color:#FF4C4C;
  border-top-color:#FF4C4C;
  cursor:default;
}

.SelectedItemHover
{
  background-color:#E9CFB1; 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #B30000; 
  border-left-color:#FF4C4C;
  border-top-color:#FF4C4C;
  cursor:default;
}

.SelectedItemExpanded
{
  background-color:#E9CFB1; 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #FF4C4C; 
  border-left-color:#B30000;
  border-top-color:#B30000;
  cursor:default;
}

/* Child selected item styles ------------------------------------ */ 
.ChildSelectedItem
{
  background-color:bisque; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #0000B3; 
  border-left-color:#4C4CFF;
  border-top-color:#4C4CFF;
  cursor:default;
}

.ChildSelectedItemHover
{
  background-color:#E9CFB1; 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #0000B3; 
  border-left-color:#4C4CFF;
  border-top-color:#4C4CFF;
  cursor:default;
}

.ChildSelectedItemExpanded
{
  background-color:#E9CFB1; 
  color:black; 
  font-family:tahoma; 
  font-size:10px; 
  border:solid 1px #4C4CFF; 
  border-left-color:#0000B3;
  border-top-color:#0000B3;
  cursor:default;
}
/* Top Menu ----------------------------*/
.TopMenuItem
{
  color:Red; 
  font-family:tahoma; 
  font-size:11px; 
  font-weight: bold;
  padding:20px;
  cursor:default; 
}
.GroupTopMenu
{
  background-color:#F5F5F5;
  border:1px #4E5358 solid; 
  border-style:solid;
  cursor:default; 
}
.GroupTopMenu1
{
  background-color:#F5F5F5;
  border:1px #4E5358 solid; 
  border-style:solid;
  cursor:default; 
}
.GroupTopMenu2
{
  background-color:#F5F5F5;
  border:1px #4E5358 solid; 
  border-style:solid;
  cursor:default; 
}
