<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
<!--	<add key="pstrConnectionString" value="SERVER=ent-server;Connect Timeout=9000;DATABASE=iHRP_KPMG;UID=sa;PWD=sa;" />-->
	<add key="pstrConnectionString" value="SERVER=bu2-srv;Connect Timeout=9000;DATABASE=iHRP_KPMG;UID=sa;PWD=sa;" />
	<add key="pstrConnExcel" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source= strExcelFile ; Extended Properties=Excel 8.0" />
	<add key="pstrReportFolder" value="\Reports\" />
	<add key="pstrTemplatesFolder" value="\Reports\ReportData\" />
	<add key="pstrPathReportsXML" value="\Reports\Reports.xml" />
	<add key="pstrEmpPic" value="\iHRP_KPMG\Upload\EmpImage\" />
	<add key="pstrImageFolder" value="\Upload\EmpImage\" />
	<add key="pstrCanPic" value="\iHRP_KPMG\Upload\CandidateImage\" />
	<add key="pstrImageFolder_" value="\Upload\CandidateImage\" />
	<add key="App_ServerName" value="bu2-srv" />
	<add key="App_DatabaseName" value="iHRP_KPMG" />	
	<add key="App_UserName" value="sa" />
	<add key="App_Password" value="sa" />	
	<!--TMS-->
	<add key="pstrSendUser" value="smtp1@mercedes-benz-vietnam.com" />
	<add key="pstrSendPassword" value="smtp123" />
	<add key="pstrMailServer" value="mail.fpt.com.vn" />
	<add key="pstrRegisterTMS" value="Register leave date" />
	<add key="pstrRejectTMS" value="Reject leave date" />
	<add key="pstrApproveTMS" value="Approve leave date" />
	<add key="pstrScanTimeFolder" value="\ScanTimeFolder\" />
	<!--Tham so Cham cong-->
	<add key="ParamHHStartTime" value="08" />
	<add key="ParamMMStartTime" value="00" />	
	<add key="ParamHHEndTime" value="17" />
	<add key="ParamMMEndTime" value="30" />	
	<add key="ParamHHAftEndTime" value="12" />
	<add key="ParamMMAftEndTime" value="00" />	
	<add key="TSMinMinutesOT" value="30" />	
	<add key="TSManHourStandard" value="8" />		
	<add key="TSStartTimeNight" value="19:00" />	
	<add key="TSEndTimeNight" value="04:00" />	
	<add key="TSAftStartTime" value="11:30" />
	<add key="pstrLogFile" value="E:\EmailLogFile_KPMG.log" />
	<!--STR pstrAwardUploadFiles-->
	<add key="pstrAwardUploadFiles" value="\Upload\Document\" />
	<add key="pstrGetFileAwardUploadFiles" value="\iHRP_KPMG\Upload\Document\" />
	<!--Upload candidate documents-->
	<add key="pstrUploadFileCandidateDocument" value="\Upload\CandidateDocument\" />
	<!--Upload candidate documents-->
	<!--Import salary-->
	<!--Upload File-->
	<add key="pstrImportFileFolder" value="\Upload\EmpImage\" />
	<!--Read file -->
	<add key="pstrGetFileFolder" value="\iHRP_KPMG\Upload\EmpImage\" />
	<add key="pstrContractFolder" value="\Upload\ContractFolder\" />
	<add key="pstrGetContractFolder" value="\iHRP_KPMG\Upload\ContractFolder\" />
	<!--Upload danh cho tuyen dung-->
	<add key="pstrREFolder" value="\Upload\REFolder\" />
	<add key="pstrREFolderFiles" value="\iHRP_KPMG\Upload\REFolder\" />
	<!--Thu muc chua file ngon ngu-->
	<add key="pStrLanguage" value="\Languages\" />
	<add key="pStrUploadReport" value="\iHRP_KPMG\Upload\TemplateReport\" />
	
	<add key="pstrTRFolder" value="\Upload\TRFolder\" />
 <add key="pstrTRFolderFiles" value="\iHRP_KPMG" />
 
 	<!--Thu muc cua News-->
	<add key="NewsFiles" value="\Upload\News\" />
	<add key="pstrGetNewsFiles" value="\Upload\News\" />
     <add key="PROGWEBCONTORLS_COMMONFILEPATH" value="/iHRP_KPMG/runtime/" />

   </appSettings>    
  <system.web>
	<httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
      <!--<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>-->
    </httpHandlers> 
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->  
    <httpRuntime maxRequestLength="750000" />  
    <compilation defaultLanguage="c#" debug="true"><assemblies>
    </assemblies>
    </compilation>

    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" /> 

    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />    
	<!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
        <allow users="*" /> <!-- Allow all users -->
            <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />

    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="5000" />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages validateRequest="false" /> 
   
 </system.web>

</configuration>

